
/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= THEME VARIABLES ================= */
:root {
  --primary: #6366f1;

  /* DARK MODE */
  --bg-dark: #020617;
  --bg-dark-soft: #020617;
  --text-dark: #e5e7eb;
  --muted-dark: #94a3b8;

  /* LIGHT MODE */
  --bg-light: #f8fafc;
  --bg-light-soft: #ffffff;
  --text-light: #0f172a;
  --muted-light: #475569;

  --radius: 18px;
  --transition: all 0.35s ease;
}

/* ================= BODY ================= */
body {
  font-family: "Inter", system-ui, sans-serif;
  transition: var(--transition);
  overflow-x: hidden;
}

/* ================= THEME SWITCH ================= */
body.dark {
  background: radial-gradient(circle at top, #020617, #020617);
  color: var(--text-dark);
}

body.light {
  background: var(--bg-light);
  color: var(--text-light);
}

/* ================= PAGE WRAPPER ================= */
.page {
  min-height: calc(100vh - 80px);
  padding-top: 80px;
  scroll-behavior: smooth;
}
